<div class='buttons'>
  {{d-button label="wallet_connect.add_button" action="clickButton" icon="mail"}}
</div>
<div class='buttons'>
  {{d-button label="wallet_link.add_button" action="clickButton" icon="eye"}}
</div>
<div class='text-field'>
  {{
    text-field 
    label="wallet_address.text_field" 
    placeholder="Wallet address go here!" 
    value="No version of plugin.test_address works"
  }}
</div>