{{#if web3AddressVisible}}
    <div class='web3Address'>
        <img src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/oylb96vwg8mcrg9fp5vd">
    </div>
{{/if}}

<div class='buttons'>
    {{d-button label="web3_address.show" action="showWeb3Address" icon="eye"}}
</div>
